header > nav > .container-fluid {
    padding-left: 0 !important;
}

main {
    height: 100vh;
}

.btn-app {
    border-radius: 3px;
    background-color: #90e0ef !important;
    border-right: 1px solid #0077b6;
    border-left: 1px solid #0077b6;
    border-top: 1px solid #0077b6;
    color: #03045e;
    font-size: 16px;
    height: 110px;
    margin: 0px 0 10px 10px;
    min-width: 135px;
    padding: 30px 5px;
    position: relative;
    text-align: center;
}

.btn-app:hover {
    background-color: #0077b6;
    color: #ffffff;
}

.btn-vendas {
    background-color: #ade8f4;
    color: #03045e;
    border: 1px solid #0077b6;
}

.small-box {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3px rgba(0,0,0,.2);
    display: block;
    margin-bottom: 20px;
    position: relative;
}

.small-box>.inner {
    padding: 10px;
}

.small-box .icon {
    color: rgba(0,0,0,.15);
    z-index: 0;
}

.small-box>.small-box-footer {
    background-color: rgba(0,0,0,.1);
    color: rgba(255,255,255,.8);
    display: block;
    padding: 6px 0;
    position: relative;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

.bg-info, .bg-success, .bg-warning {
    color: #fff !important;
}

.bg-info {
    background-color: #17a2b8!important;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.small-box .icon>i.fa, .small-box .icon>i.fab, .small-box .icon>i.fad, .small-box .icon>i.fal, .small-box .icon>i.far, .small-box .icon>i.fas, .small-box .icon>i.ion {
    font-size: 70px;
    top: 20px;
}

.small-box .icon>i{
    font-size: 90px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: -webkit-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear,-webkit-transform .3s linear;
}

.small-box .icon>img{
    width: 90px;
    height: 90px;
    position: absolute;
    right: 15px;
    top: 5px;
    background-color: linen;
}

.widget-user .widget-user-image {
    left: 50%;
    margin-left: -45px;
    position: absolute;
    top: 40px;
}

.widget-user .widget-user-image>img {
    border: 3px solid #fff;
    height: auto;
    width: 90px;
    background-color: #eeeeee;
}

.elevation-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
}

.img-circle {
    border-radius: 50%;
}


.widget-user .widget-user-header {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 135px;
    padding: 1rem;
}

.card-widget {
    border: 0;
    position: relative;
}

.divisao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    background-color: dodgerblue !important;
    padding: 10px;
}

.divisao > div {
    background-color: #f1f1f1;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-content: center;
    min-height: 100px;
  }

  .divisao > div:nth-child(4) {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .divisao > div:nth-child(6) {
    grid-column: 1 / span 2;
  }

  .button-payment {
    min-width: 85px;
    justify-content: center;
    padding: 0.75rem 0.375rem !important;
  }